@import url('https://fonts.cdnfonts.com/css/cocogoose');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;700&family=Lato:wght@400;900&display=swap');

body {
  margin: 0;
}

/* Links */
a:link,
a:visited {
  text-decoration: none;
  color: #fff;
}

.hide {
  display: none;
}

.nav__menu {
  margin-left: 15px;
  margin-top: 20px;
}

.main__section {
  background-image: url('../images/container.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__bar {
  align-self: flex-start;
}

.rocket__global {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rocket__global__title1 {
  font-family: "Gothic A1", sans-serif;
  color: #ec5242;
  padding: 0;
  margin-bottom: 0;
}

.rocket__global__title2 {
  font-family: 'cocogoose', sans-serif;
  font-size: 30px;
  color: #ec5242;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.rocket__global_p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #272a31bd;
  margin: 20px 40px;
  background-color: #fff;
  text-align: center;
  border: 1px solid #d3d3d3;
  max-width: 700px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact__p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #515151;
  text-align: center;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 5px;
}

address {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  color: #080808;
}

/* Logo section */
.logo__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #d3d3d3;
}

.logo__section h2,
.past__conferences h2,
.partner h1 {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #272a31;
  margin: 25px 50px;
  text-align: center;
}

.line {
  border: 1px solid #ec5242;
  width: 30px;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #515151;
  margin: 20px 10px 10px;
  text-align: start;
  width: 70%;
  font-size: 12px;
}

footer a:link,
footer a:visited {
  color: #272a31;
  text-decoration: underline;
}

footer img {
  margin-left: 35px;
  height: 40px;
}

/* Footer */

.logo__section p,
.past__conferences p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #272a31;
  text-align: center;
  margin: 20px 50px 50px;
  max-width: 700px;
}

.logo__section img {
  width: auto;
  max-width: 300px;
  border: 1px solid #d3d3d3;
  padding: 20px 22px;
  margin: 0 0 70px;
}

/* Past conferences */
.past__conferences {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.past__conferences__card1,
.past__conferences__card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/2021_conference.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 375px;
  aspect-ratio: 335/186;
  margin-bottom: 25px;
  margin-right: 12px;
  margin-left: 12px;
  justify-content: center;
}

.past__conferences__card2 {
  background-image: url("../images/2019_conference.jpg");
}

.past__year {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 60px;
  color: #fff;
  margin: 0 25px;
}

.past__place {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  margin: 0 50px;
  text-align: center;
}

/* Partner */
.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url("../images/partner.png");
  background-color: #414246; /* I use this color to fit the original image */
  background-size: initial;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 204px;
}

.partner h1 {
  color: #fff;
  margin-bottom: 5px;
  margin-top: 20px;
}
