@import url('https://fonts.cdnfonts.com/css/cocogoose');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;700&family=Lato:wght@400;900&display=swap');

body {
  margin: 0;
}

/* Links */
a:link,
a:visited {
  text-decoration: none;
  color: #fff;
}

/* Big screen nav bar */
.desktop__nav {
  display: none;
}

/* Big screen nav bar */

/* First section */
.container {
  background-image: url('../images/back.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}

.nav__bar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100px;
}

.nav__menu {
  margin-left: 15px;
  margin-top: 20px;
}

.first__section {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.rocket__global {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.rocket__global h3,
.rocket__global__place {
  font-family: "Gothic A1", sans-serif;
  color: #ff5438;
  padding: 0;
  margin-bottom: 30px;
}

.first__section h1 {
  font-family: 'cocogoose', sans-serif;
  font-size: 30px;
  background: url(../images/letters-background.jpg) 100% no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 0;
  margin-bottom: 10px;
}

.first__section p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #696262;
  margin: 20px 20px;
  background-color: #efefef;
  border: 2px solid #fff;
}

.rocket__global__date {
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 0px;
  color: #868686;
}

.rocket__global__place {
  font-family: 'COCOGOOSE', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.main__program {
  background-image: url("../images/background-main.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main__program h1,
.featured__speakers h1 {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: white;
}

.main__line {
  border-bottom: solid 1px #ec5242;
  width: 30px;
}

.card {
  display: flex;
  align-items: center;
  margin: 15px 15px;
  background-color: rgba(255, 255, 255, 0.144);
}

.card h3 {
  color: #ec5242;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  min-width: 80px;
  margin-left: 15px;
  margin-right: 15px;
}

.card p {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  margin-right: 15px;
}

.card img {
  margin: 0 0 0 15px;
}

.join__rocket {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  background-color: #ec5242;
  padding: 18px 25px;
  border: none;
  margin: 40px 0 55px;
}

/* Featured speakers */
.featured__speakers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured__speakers h1 {
  color: rgb(81, 84, 92);
}

.speaker {
  display: flex;
  flex-direction: row;
  margin: 25px 15px;
}

.speaker img {
  width: 100px;
  height: 107px;
}

.speaker__text {
  display: flex;
  flex-direction: column;
  margin: 0 25px;
}

.speaker__name {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
  color: rgb(81, 84, 92);
}

.speaker__title {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 200;
  font-style: italic;
  color: #ec5242;
  margin: 6px 0;
}

.speaker__line {
  border-bottom: 1px solid #888686c8;
  width: 20px;
}

.speaker__intro {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  font-weight: 200;
  color: rgb(112, 114, 120);
}

/* To hide the speakers */
.hide {
  display: none;
}

.speaker__more,
.speaker__less {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: rgb(112, 114, 120);
  border: 1px solid rgb(198, 199, 199);
  text-align: center;
  width: 90%;
  padding: 15px;
}
